@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&display=swap');
/* "Atkinson Hyperlegible Mono", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Castoro:ital@0;1&display=swap');
/* "Castoro", serif */
@import "tailwindcss";

* {
  margin: 0;
}

.overall-body {
  background-image: url(/images/purple-on-black.jfif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 96vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.overall-body h1 {
  margin-top: 40px;
}

.overall-body .name {
  font-family: "Atkinson Hyperlegible Mono", sans-serif;
  font-weight: bold;
}

.overall-body h1, .sub-heading {
  text-align: center;
  padding: 4px;
}

@layer components {

  /* HEADER */

  .sticky {
    @apply sticky top-0 h-[4vh];
 
    nav {
      @apply text-white bg-[#8c52ff] h-[40px] p-1 flex items-center justify-between md:h-[55px];

      img {
        @apply h-[50px] md:h-[65px];
      }

      & .nav-box-sm {
        @apply flex flex-col w-25 relative;      
         
        .nav-icon {
          @apply text-[#3F1E83] text-2xl text-end md:text-4xl;
        } 

        & .navigating-sm {
          @apply bg-[#8c52ff] w-full flex flex-col gap-2 items-center shadow-lg absolute top-9 right-[-4px] md:top-12;
          
          .navigation {
            @apply w-[100px] p-2
          } 

          & .selected-sm {
            @apply bg-[#2D1E64];
          }
        }
      }

      & .nav-box {
        @apply flex h-[90%] gap-[20px] lg:w-[270px] justify-around items-center;
   
        .navigating {
          @apply text-white font-bold flex items-center justify-center p-2 rounded w-30 bg-[#3F1E83] cursor-pointer hover:-translate-y-0.5 transition ease-in-out duration-300 active:scale-95; 
        }

        .boxy {
          @apply shadow-[inset_0_0_5px_rgba(0,0,0,0.5)];
        }
      }
    }
  }


      
  /* OVERALL-BODY */

  .overall-body {

    h1 {
      @apply text-xl md:text-2xl;
    }

  }


  
}














.project-body {
  margin-top: 10px;
  height: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.project-body .arrow {
  font-size: 30px;
  cursor: pointer;
}

.project-body .arrow:active {
  transform: scale(0.85);
}

.blur {
  width: 85%;
  height: 95%;
  background: rgba(255, 255, 255, 0.15);
  z-index: 2;
  border-radius: 20px;
  backdrop-filter: blur(10px);   
  display: flex;
  justify-content: space-between;
  transition: 2s ease 0.5s;
}

.blur-error {
  width: 85%;
  height: 95%;
  background: rgba(255, 255, 255, 0.15);
  z-index: 2;
  border-radius: 20px;
  backdrop-filter: blur(10px);   
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 2s ease 0.5s;
  box-shadow: 0 0 0 2px white, 
    0 0 12px white, 
    0 0 24px white;
}

.blur-about {
  margin: auto;
  width: 75%;
  height: 85%;
  background: rgba(255, 255, 255, 0.15);
  z-index: 2;
  border-radius: 20px;
  backdrop-filter: blur(10px);   
  display: flex;
  justify-content: space-between;
  transition: 2s ease 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  box-shadow: 0 0 0 2px #9D4EDD, 
    0 0 12px #7B2CBF, 
    0 0 24px #5A189A;
}

.blur-about .about-desc {
  height: 60%;
  width: 80%;
  border-radius: 10px;
  background: #343434be;
  padding: 12px;
  font-size: 20px;
  box-shadow: 0, 0 5px (rgba(0, 0, 0, .5));
  backdrop-filter: blur(10px);
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.blur-error img{
  width: 20%;
  height: 30%;  
}

.blur-error p{
  font-size: 20px;
  font-family:  "Castoro", serif;  
  background: #524d4b91;
  padding: 10px;
  border-radius: 10px;
}

.blur-error button{
  margin-top: 30px;
  padding: 10px;
  width: 10%;
  border-radius: 10px;
  border: none;
  box-shadow: 0, 0 5px (rgba(0, 0, 0, .5));;
  font-size: 20px;  
  background: #2D1E64;
  color: white;
  cursor: pointer;
}

.blur-error button:active{
  transform: scale(0.90);
}

.blur .project-info-box, .project-vid-box {
  width: 50%;
}

.blur .project-vid-box {
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  gap: 22px;
}

.blur .search-box {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  background: #524d4b91;
  padding: 2px;
  box-shadow: 0, 0 5px (rgba(0, 0, 0, .5));
}

.blur .search-box input{
  height: 100%;
  width: 90%;
  color: white;
  background: transparent;
  outline: none;
  border: none;
  padding: 0px 10px 0px 10px;
}

.blur .search-box input:focus{
  outline: none;
}

.blur .search-box button{
  outline: none;
  background: transparent;
  height: 100%;
  width: 10%;
  font-size: 15px;
  color: white;
  border: none;
  cursor: pointer;
}

.blur .search-box button:active{
  transform: scale(.90);
}

.blur .project-vid-box .vid {
  height: 80%;
  width: 100%; 
  border-radius: 10px;
  box-shadow: 0, 0 5px (rgba(0, 0, 0, .5));
  background: #343434be;
  position: relative;
  backdrop-filter: blur(10px);
}

.blur .project-vid-box .vid .video {
  height: 100%;
  width: 100%;
  object-fit: cover; 
  border-radius: 10px;
  box-shadow: 0, 0 5px (rgba(0, 0, 0, .5));
}

.blur .project-vid-box .vid .test {
  height: 100%;
  width: 100%;
  z-index: 222;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blur .project-vid-box .vid .play-btn {
  padding: 25px;
  border-radius: 100%;
  border: none;
  font-size: 20px;
  position: absolute;
  color: white;
  cursor: pointer;
  background: #524d4b91;
}

.blur .project-info-box {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.blur .project-info {
  display: flex;
  gap: 14px;
  border-radius: 10px;
  background: #343434be;
  padding: 10px;
  box-shadow: 0, 0 5px (rgba(0, 0, 0, .5));
  flex-direction: column;
  backdrop-filter: blur(10px);
}

.blur .project-info p {
  font-size: large;
  font-family: 'Courier New', Courier, monospace;
  text-shadow: 0, 0 5px (rgba(0, 0, 0, 1));
}

.blur .project-info .icons {
  font-size: 25px;
  display: flex;
  gap: 10px;
}

.blur .project-info .icons a {
  color: white;
}