@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&display=swap');
/* "Atkinson Hyperlegible Mono", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Castoro:ital@0;1&display=swap');
/* "Castoro", serif */
@import "tailwindcss";

.overall-body {
  background-image: url(/images/purple-on-black.jfif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 96vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.overall-body h1 {
  margin-top: 40px;
}

.overall-body .name {
  font-family: "Atkinson Hyperlegible Mono", sans-serif;
  font-weight: bold;
}

.overall-body h1, .sub-heading {
  text-align: center;
  padding: 4px;
}

@layer components {

  /* HEADER */

  .sticky {
    @apply sticky top-0 h-[4vh];
 
    nav {
      @apply text-white bg-[#8c52ff] h-[40px] p-1 flex items-center justify-between md:h-[55px];

      img {
        @apply h-[50px] md:h-[65px];
      }

      & .nav-box-sm {
        @apply flex flex-col w-25 relative;      
         
        .nav-icon {
          @apply text-[#3F1E83] text-2xl text-end md:text-4xl;
        } 

        & .navigating-sm {
          @apply bg-[#8c52ff] w-full flex flex-col gap-2 items-center shadow-lg absolute top-9 right-[-4px] md:top-12;
          
          .navigation {
            @apply w-[100px] p-2
          } 

          & .selected-sm {
            @apply bg-[#2D1E64];
          }
        }
      }

      & .nav-box {
        @apply flex h-[90%] gap-[20px] lg:w-[270px] justify-around items-center;
   
        .navigating {
          @apply text-white font-bold flex items-center justify-center p-2 rounded w-30 bg-[#3F1E83] cursor-pointer hover:-translate-y-0.5 transition ease-in-out duration-300 active:scale-95; 
        }

        .boxy {
          @apply shadow-[inset_0_0_5px_rgba(0,0,0,0.5)];
        }
      }
    }
  }

  





  /* OVERALL-BODY */

  .overall-body {

    h1 {
      @apply text-xl md:text-3xl;
    }

    & .project-body {
      @apply mt-[10px] h-[80%] flex justify-around items-center;

      .arrow {
        @apply text-[30px] cursor-pointer active:scale-85;
      }
    }

  }







  /*SECTION-CARD*/

  .blur-cont {
    @apply relative w-[85%] h-[95%] rounded-lg;
  }

  .blur {
    @apply bg-[rgba(255,255,255,0.15)] absolute w-full h-full backdrop-blur-[10px];
  }

  .blur-content {
    @apply w-full h-full relative flex z-10 rounded-lg transition ease-in-out duration-700;

    .project-vid-box, .project-info-box {
      @apply w-[50%];
    }

    & .search-box {
      @apply bg-[#524d4b91] h-[50px] flex items-center justify-between rounded-lg p-2 shadow-lg;

      input {
        @apply bg-transparent h-full w-[90%] text-white border-none py-[10px] focus:outline-none;
      }

      & button {
        @apply bg-transparent border-none h-full w-[10%] text-lg text-white cursor-pointer active:scale-90;
      }
    }

    & .project-vid-box {
      @apply flex flex-col p-[20px] justify-center gap-[22px];
   
      .vid {
        @apply h-[80%] w-full rounded-lg shadow-lg relative;

        .video {
          @apply h-full w-full object-cover rounded-lg shadow-lg;
        }
        
        & .test {
          @apply h-full w-full absolute flex items-center justify-center;
        }

        & .play-btn {
          @apply bg-[#524d4b91] p-[25px] rounded-full border-none text-2xl cursor-pointer text-white
        }
      }
    }

    & .project-info-box {
      @apply p-[20px] flex flex-col justify-around
    }

    & .project-info {
      @apply bg-[#343434be] flex gap-[14px] rounded-lg p-[10px] shadow-lg flex-col backdrop-blur-[10px];
   
      p {
        @apply text-lg font-['Courier_New',Courier,monospace];
      }
   
      & .icons {
        @apply text-[25px] flex gap-[10px];
      }
    }
  }







  /*ERROR CARD*/
  .blur-error {
    @apply bg-[rgba(255,255,255,0.15)] w-[85%] h-[95%] rounded-lg backdrop-blur-[10px] flex flex-col items-center justify-center shadow-[0_0_0_2px_white,0_0_12px_white,0_0_24px_white] gap-5;
  
    img {
      @apply w-[20%] h-[30%];
    }

    p {
      @apply bg-[rgba(255,255,255,0.15)] text-xl font-['Castoro',serif] p-[10px] rounded-lg;
    }

    button {
      @apply bg-[#2D1E64] mt-[30px] p-[10px] rounded-lg border-none shadow-lg text-[20px] text-white cursor-pointer active:scale-90 font-bold;  
    }
  }






  /*ABOUT CARD*/
  .blur-about {
    @apply bg-[rgba(255,255,255,0.15)] mt-10 mx-auto w-[75%] h-[85%] rounded-lg backdrop-blur-[10px] flex flex-col justify-center items-center gap-[15px] shadow-[0_0_0_2px_#9D4EDD,0_0_12px_#7B2CBF,0_0_24px_#5A189A];

    h1 {
      @apply text-4xl font-bold; 
    }

    .about-desc {
      @apply bg-[#343434be] h-[60%] w-[80%] rounded-lg p-[12px] text-[20px] shadow-lg backdrop-blur-[10px] font-['Courier_New',Courier,monospace] flex items-center justify-center text-center;
    }
  }
}