@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&display=swap');
/* "Atkinson Hyperlegible Mono", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Castoro:ital@0;1&display=swap');
/* "Castoro", serif */
@import "tailwindcss";

.overall-body {
  background-image: url(/images/purple-on-black.jfif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 96vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.overall-body h1 {
  margin-top: 40px;
}

.overall-body .name {
  font-family: "Atkinson Hyperlegible Mono", sans-serif;
  font-weight: bold;
}

.overall-body h1, .sub-heading {
  text-align: center;
  padding: 4px;
}


@utility no-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none;   

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;
  }
}

@layer components {

  .test {
    @apply relative;
  }

  .loader {
    @apply absolute border border-2 border-white h-full w-full z-99 bg-gradient-to-r from-[#5A189A] to-[#3C096C] flex flex-col justify-center items-center text-white
  }

  /* HEADER */

  .sticky {
    @apply sticky top-0 h-[4vh];
 
    nav {
      @apply text-white bg-[#8c52ff] h-[40px] p-1 flex items-center justify-between md:h-[55px];

      img {
        @apply h-[50px] md:h-[65px];
      }

      & .nav-box-sm {
        @apply flex flex-col w-25 relative;      
         
        .nav-icon {
          @apply text-[#3F1E83] text-2xl text-end md:text-4xl;
        } 

        & .navigating-sm {
          @apply bg-[#8c52ff] w-full flex flex-col gap-2 items-center shadow-lg absolute top-9 right-[-4px] md:top-12;
          
          .navigation {
            @apply w-[100px] p-2
          } 

          & .selected-sm {
            @apply bg-[#2D1E64] shadow-[inset_0_0_5px_rgba(0,0,0,0.5),_0_0_5px_rgba(0,0,0,0.5),_0_0_5px_rgba(0,0,0,0.5)];
          }
        }
      }

      & .nav-box {
        @apply flex h-[90%] gap-[20px] lg:w-[270px] justify-around items-center;
   
        .navigating {
          @apply text-white font-bold flex items-center justify-center p-2 rounded w-30 bg-[#3F1E83] cursor-pointer hover:-translate-y-0.5 transition ease-in-out duration-300 active:scale-95; 
        }

        .boxy {
          @apply shadow-[inset_0_0_5px_rgba(0,0,0,0.5),_0_0_5px_rgba(0,0,0,0.5),_0_0_5px_rgba(0,0,0,0.5)];
        }
      }
    }
  }

  





  /* OVERALL-BODY */

  .overall-body {

    h1 {
      @apply text-xl md:text-3xl;
    }

    & .project-body {
      @apply mt-[10px] h-[80%] flex justify-around items-center;

      .arrow {
        @apply text-[20px] cursor-pointer active:scale-85 md:text-[30px];
      }
    }

  }







  /*SECTION-CARD*/

  .blur-cont {
    @apply relative w-[80%] h-[92%] rounded-lg md:w-[85%] md:h-[97%];
  }

  .blur {
    @apply bg-[rgba(255,255,255,0.15)] absolute w-full h-full backdrop-blur-[10px];
  }

  .blur-content {
    @apply relative z-10 overflow-y-auto h-full w-full rounded-lg transition ease-in-out duration-700 flex flex-col lg:flex-row no-scrollbar;

    .project-vid-box, .project-info-box {
      @apply h-[50%] lg:w-[50%] lg:h-full;
    }

    & .project-vid-box {
      @apply flex flex-col p-[15px] order-0 justify-around gap-4 lg:gap-12 lg:order-1 lg:p-[20px] lg:justify-center;
   
      .search-box {
        @apply bg-[#524d4b91] h-[35px] flex items-center justify-between rounded-lg p-2 shadow-lg lg:h-[50px];

        input {
          @apply bg-transparent h-full w-[90%] text-white text-sm border-none py-[10px] focus:outline-none md:text-base;
        }

        & button {
          @apply bg-transparent border-none h-full w-[10%] text-white text-sm cursor-pointer active:scale-90 lg:text-lg;
        }
      }

      & .vid {
        @apply w-[80%] rounded-lg shadow-lg relative mx-auto lg:h-[80%] lg:w-full;

        .video {
          @apply h-full w-full object-cover rounded-lg shadow-lg;
        }
        
        & .play-cont {
          @apply h-full w-full absolute flex items-center justify-center;
        }

        & .play-btn {
          @apply bg-[#524d4b91] p-[15px] rounded-full border-none text-2xl cursor-pointer text-white z-10 lg:p-[25px];
        }
      }
    }

    & .project-info-box {
      @apply p-[15px] flex order-1 flex-col gap-2 overflow-y-auto no-scrollbar justify-around lg:gap-3  lg:order-0 lg:p-[20px];
   
      .project-info {
        @apply bg-[#343434be] flex gap-[14px] rounded-lg p-[10px] shadow-lg flex-col backdrop-blur-[10px];
    
        h2 {
          @apply font-bold lg:text-lg
        }

        p {
          @apply text-base font-['Courier_New',Courier,monospace] lg:text-lg;
        }
    
        & .icons {
          @apply text-[20px] flex gap-[10px] lg:text-[25px];
        }
      }
    }
  }







  /*ERROR CARD*/

  .blur-error {
    @apply bg-[rgba(255,255,255,0.15)] w-[85%] h-[95%] rounded-lg backdrop-blur-[10px] flex flex-col items-center justify-center shadow-[0_0_0_2px_white,0_0_12px_white,0_0_24px_white] gap-2 lg:gap-5;
  
    img {
      @apply w-[40%] h-[20%] lg:w-[20%] lg:h-[30%];
    }

    p {
      @apply bg-[rgba(255,255,255,0.15)] font-['Castoro',serif] rounded-lg mx-[20px] text-center p-[6px] lg:p-[10px] lg:text-xl;
    }

    button {
      @apply bg-[#2D1E64] mt-[30px] p-[10px] rounded-lg border-none shadow-lg text-white cursor-pointer active:scale-90 font-bold lg:text-[20px];  
    }
  }






  /*ABOUT CARD*/

  .blur-about {
    @apply bg-[rgba(255,255,255,0.15)] mt-10 mx-auto w-[90%] h-[70%] rounded-lg backdrop-blur-[10px] flex flex-col justify-center items-center gap-[15px] shadow-[0_0_0_2px_#9D4EDD,0_0_12px_#7B2CBF,0_0_24px_#5A189A] lg:w-[75%] lg:h-[85%];

    h1 {
      @apply font-bold text-2xl lg:text-4xl; 
    }

    .about-desc {
      @apply bg-[#343434be] h-[75%] w-[95%] rounded-lg p-[12px] text-[20px] shadow-lg backdrop-blur-[10px] font-['Courier_New',Courier,monospace] flex justify-center text-center overflow-y-auto lg:h-[60%] lg:w-[80%];
    }
  }

}