@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&display=swap');
/* "Atkinson Hyperlegible Mono", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Castoro:ital@0;1&display=swap');
/* "Castoro", serif */
@import "tailwindcss";

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  background: #CCCCCC;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}


@theme {
  --color-dred: #9c0012;
  --color-red: #d00018;
  --color-background: #CCCCCC;
  --color-former: #3C096C;
}


@keyframes leftRight {
    0% {
      translate: 0;
    }
    50% {
      translate: 70px;
    }
    100% {
      translate: 0;
    }
}

.card-container {
  perspective: 1500px;
  width: 25%;
}

.card {
  width: 100%;
  height: 500px;
  transform-style: preserve-3d;
  position: relative;
  transition: transform 0.6s
}

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  backface-visibility: hidden;
}

.front {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transform: rotateY(0deg);
}

.front img {
  object-fit: cover;
}

.back {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transform: rotateY(180deg);
}

.card-container:hover .card {
  transform: rotateY(180deg);
}

@utility no-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none;   

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;
  }
}

@theme {
  --font-specialtext: "Atkinson Hyperlegible Mono", sans-serif;

  --color-background: #CCCCCC;
  --color-former: #3C096C;
  --color-darkgrey: #3D3D3D;
  --color-grey: #919191;
  --color-mypurple: #7E57C2;
}

@layer components {


  .loader {
    @apply fixed h-full w-full z-50 bg-background flex flex-col items-center justify-center gap-4;
    min-height: 100svh;


    img {
      @apply w-12;
    }

    & .loading-bar {
      @apply border border-2 border-transparent w-20 h-3 shadow-lg rounded-lg bg-darkgrey relative overflow-x-hidden;

      .loading-ball {
        @apply border border-2 border-[#C2A9EF] bg-[#C2A9EF] absolute h-full rounded-full w-2
        shadow-[0_0_5px_#C2A9EF,_0_0_5px_#C2A9EF,_0_0_5px_#C2A9EF]
        [animation:leftRight_2s_linear_infinite];
      }
    }
  }



  /*ONLINE*/
  .online {
    @apply absolute z-50 h-full w-full flex flex-col items-center justify-center bg-black text-white gap-4;

    .bi {
      @apply text-mypurple text-shadow-[0_0_5px_#7E57C2,_0_0_5px_#7E57C2,_0_0_5px_#7E57C2] text-7xl lg:text-9xl;
    }

    p {
      @apply font-bold text-center lg:text-xl;
    }
  }


  
  /* HEADER */

  .sticky {
    @apply sticky top-0 h-[4vh] z-40;
 
    nav {
      @apply text-white bg-white shadow-lg h-[40px] p-4 flex items-center justify-between 
      md:h-[55px];

      .logo-n-name {
        @apply flex gap-1 items-center text-mypurple;

        img {
          @apply w-6;
        }

        span {
          @apply font-specialtext text-sm
          lg:text-base;
        }
      }

      & .about-projects {
        @apply text-black flex items-center justify-center gap-20 w-[60%];

        button {
          @apply transition hidden border border-4 border-transparent ease-in-out duration-300 p-2 cursor-pointer
          hover:text-mypurple active:scale-90 lg:block;
        }
      }

      & .contact-me {
        @apply border hidden border-2 border-transparent transition ease-in-out duration-300 font-bold cursor-pointer text-white p-2 rounded-lg bg-mypurple
        hover:text-mypurple hover:border-mypurple hover:bg-white active:scale-90
        lg:block;
      }

      & .nav-box-sm {
        @apply text-mypurple text-2xl text-end flex flex-col 
        md:text-4xl lg:hidden; 

        .navigating-sm {
          @apply text-sm bg-white font-bold flex flex-col gap-2 p-2 w-30 items-center z-40 absolute top-9 right-[-4px]
          md:top-12;

            .navigation {
              @apply w-[100px] p-2 text-center text-black
            }  

            .contact {
              @apply bg-mypurple text-white
            }
        }
      }
    }
  }

  

  /*ABOUT ME*/
  .about-me {
    @apply w-full flex flex-col items-center px-6 mb-4;

    h1 {
      @apply mt-12 text-center w-75 p-5 bg-white shadow-lg rounded-lg text-xl font-bold
      lg:mt-16 lg:w-90 lg:text-2xl;

      span {
        @apply text-mypurple font-specialtext;
      }
    }

    & .introductory {
      @apply w-full mt-6 flex flex-col items-center;

      .intro-div {
        @apply w-[50%] flex justify-center;
      }

      .img-div {
        @apply w-50 h-50 rounded-full bg-grey
        lg:w-70 lg:h-70;

        img {
          @apply w-full h-full object-cover rounded-full
        }
      }

      .div-diff {
        @apply gap-10 w-full mt-4 flex flex-col items-center
        lg:flex-row;  

        section {
          @apply w-[60%] bg-white p-6 rounded-lg shadow-lg text-center font-bold text-sm
          lg:w-[30%] lg:text-base;

          .span-one {
            @apply text-mypurple
          }
        }
      }
    }

    & .desc {
      @apply w-[95%] mt-6 p-4 rounded-lg bg-white shadow-lg text-sm 
      lg:text-base;

      h2 {
        @apply font-bold;
      }

      .full-desc {
        @apply mt-4 flex flex-col gap-4 cursor-default;

        span {
          @apply text-mypurple font-bold cursor-pointer;
        }
      }
    }

    & .my-tools {
      @apply w-[95%] mt-6 p-4 rounded-lg bg-white shadow-lg;

      h2 {
        @apply font-bold text-sm
        lg:text-base;
      }

      .full-tools {
        @apply flex shrink-0 gap-8 mt-4 overflow-x-auto text-[35px];
      }
    }

    & .my-contacts {
      @apply w-[95%] text-sm mt-6 p-4 rounded-lg bg-white shadow-lg
      lg:text-base;

      h2 {
        @apply font-bold;
      }

      .full-contacts {
        @apply flex flex-col gap-4 mt-4;

        .contact {
          @apply flex gap-2 cursor-pointer;
        }
      }
    }
  }

  /*CONTACT-CARD*/
  .contact-card {
    @apply bg-black/1 backdrop-blur-sm border border-2 fixed w-full top-0 h-full z-50 flex justify-center items-center;

    .contact-deets {
      @apply border border-2 p-6 bg-white shadow-lg rounded-lg border-mypurple flex flex-col items-center
      lg:w-[40%] lg:h-[60%];

      .leave-deets {
        @apply w-full text-end text-grey cursor-pointer text-xl transition ease-in-out duration-300
        hover:text-mypurple;
      }

      h1 {
        @apply text-2xl font-bold text-mypurple
        lg:text-4xl;
      }

      .full-contacts {
        @apply w-full mt-8 flex flex-col gap-6 items-center;

        .contact {
          @apply flex flex-col text-sm w-60 items-center cursor-pointer border border-2 rounded-lg bg-mypurple text-white shadow-lg p-2 transition ease-in-out duration-300
          hover:bg-white hover:text-mypurple active:scale-90
          lg:w-70 lg:text-base;

          .cont-icon {
            @apply text-2xl;
          } 
        }
      }
    }
  }


  /*PROJECTS-BODY*/
  .projects-body {
    @apply h-full w-full px-6 flex flex-col items-center;

    h1 {
      @apply mt-12 text-center w-75 text-mypurple p-5 bg-white shadow-lg rounded-lg text-xl font-bold
      lg:mt-16 lg:w-90 lg:text-2xl;
    }

    .project-cards {
      @apply w-full mt-4 p-4 flex gap-4;
    }
  }

  .card-container {
    .back {
      @apply flex-col gap-6;

      .contact {
        @apply flex border border-2 p-4 w-70 items-center justify-center gap-2 rounded-lg bg-mypurple text-white shadow-lg cursor-pointer
        hover:bg-white hover:text-mypurple active:scale-90
      }
    }
  }

  /* OVERALL-BODY */

  /* .overall-body {

    h1 {
      @apply text-xl md:text-3xl;
    }

    & .project-body {
      @apply mt-[10px] h-[80%] flex justify-around items-center;

      .arrow {
        @apply text-[20px] cursor-pointer active:scale-85 md:text-[30px];
      }
    }

  } */







  /*SECTION-CARD*/

  .blur-cont {
    @apply relative w-[80%] h-[92%] rounded-lg md:w-[85%] md:h-[97%];
  }

  .blur {
    @apply bg-[rgba(255,255,255,0.15)] absolute w-full h-full backdrop-blur-[10px];
  }

  .blur-content {
    @apply relative z-10 overflow-y-auto h-full w-full rounded-lg transition ease-in-out duration-700 flex flex-col justify-between lg:flex-row no-scrollbar;

    .project-vid-box, .project-info-box {
      @apply h-[50%] lg:w-[50%] lg:h-full;
    }

    & .project-vid-box {
      @apply flex flex-col p-[15px] order-0 justify-around gap-4 lg:gap-12 lg:order-1 lg:p-[20px] lg:justify-center;
   
      .search-box {
        @apply bg-[#524d4b91] h-[35px] flex items-center justify-between rounded-lg p-2 shadow-lg lg:h-[50px];

        input {
          @apply bg-transparent h-full w-[90%] text-white text-sm border-none py-[10px] focus:outline-none md:text-base;
        }

        & button {
          @apply bg-transparent border-none h-full w-[10%] text-white text-sm cursor-pointer active:scale-90 lg:text-lg;
        }
      }

      & .vid {
        @apply w-[80%] rounded-lg shadow-lg relative mx-auto lg:h-[80%] lg:w-full;

        .video {
          @apply h-full w-full object-cover rounded-lg shadow-lg;
        }
        
        & .play-cont {
          @apply h-full w-full absolute flex items-center justify-center;
        }

        & .play-btn {
          @apply bg-[#524d4b91] p-[15px] rounded-full border-none text-2xl cursor-pointer text-white z-10 lg:p-[25px];
        }
      }
    }

    & .project-info-box {
      @apply p-[15px] order-1 flex-col lg:order-0 lg:p-[20px];
   
      .project-info {
        @apply bg-[#343434be] flex gap-[14px] rounded-lg p-[10px] shadow-lg flex-col mt-[10px] backdrop-blur-[10px];
    
        h2 {
          @apply font-bold lg:text-lg
        }

        p {
          @apply text-base font-['Courier_New',Courier,monospace] lg:text-lg;
        }
    
        & .icons {
          @apply text-[20px] flex gap-[10px] lg:text-[25px];
        }
      }
    }
  }







  /*ERROR CARD*/

  .blur-error {
    @apply bg-[rgba(255,255,255,0.15)] w-[85%] h-[95%] rounded-lg backdrop-blur-[10px] flex flex-col items-center justify-center shadow-[0_0_0_2px_white,0_0_12px_white,0_0_24px_white] gap-2 lg:gap-5;
  
    img {
      @apply w-[40%] h-[20%] lg:w-[20%] lg:h-[30%];
    }

    p {
      @apply bg-[rgba(255,255,255,0.15)] font-['Castoro',serif] rounded-lg mx-[20px] text-center p-[6px] lg:p-[10px] lg:text-xl;
    }

    button {
      @apply bg-[#2D1E64] mt-[30px] p-[10px] rounded-lg border-none shadow-lg text-white cursor-pointer active:scale-90 font-bold lg:text-[20px];  
    }
  }


}